<div id='mainHdr'>
    <div class='menu'>
        <span id='homeBtn'><a href='/' class='active'>Home</a></span>
        <span id='dashBtn'><a href='/dashboard'>Dashboard</a></span>
        {{#if logged_in}}
        <span id='logoutBtn'><a href=''>Logout</a></span>
        {{else}}
        <span id='loginBtn'><a href='/login'>Login</a></span>
        {{/if}}
    </div>
    <div id='headerMsg'>
    </div>
</div>
<div id='my-blogs'>
    {{#each blog}}
    <div class='main' id='blog#{{this.blogid}}'>
        <div class='mainRow'>
            <div class='blogTitle'>{{this.blogpostTitle}}</div>
            <div class='blogPoster'>Posted by {{this.user}} on {{this.blog_createDate}}</div>
        </div>
        <p class='blogPost'>{{this.blogpost}}</p>
    </div>
    {{/each}}
</div>

<script src="/js/dashboard.js"></script>