<div id='mainHdr'>
    <div class='menu'>
        <span id='homeBtn'><a href='/' class='active'>Home</a></span>
        <span id='dashBtn'><a href='/dashboard'>Dashboard</a></span>
        {{#if logged_in}}
        <span id='logoutBtn'><a href=''>Logout</a></span>
        {{else}}
        <span id='loginBtn'><a href='/login'>Login</a></span>
        {{/if}}
    </div>
    <div id='headerMsg'>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<div id='myBlogs'>
    {{#if blog}}
        {{#each blog}}
        <div class='main' id='blogmain#{{this.blogid}}'>
            <div class='mainRow'>
                <span><a href='javascript:changeBlogPostDiv({{this.blogid}});'>&#8635</a></span>
                <div class='blogTitle'> {{this.blogpostTitle}}</div>
                <div class='blogPoster'>Posted by {{this.user}} on {{this.blog_createDate}}</div>
            </div>
            <div class='blogPost' id='blog#{{this.blogid}}'>
                <p id='{{this.blogid}}'>{{this.blogpost}}</p>
            </div>
        </div>
        {{/each}}
    {{else}}
        <h2>You do not have any blogs at this time.</h2>
    {{/if}}
    <div id="addBlogDiv">
        <button class="button" id='addPostBtn'>&plus; New Post</button>
    </div>
</div>

<script src="/js/dashboard.js"></script>