<div id='mainHdr'>
    <div class='menu'>
        <span id='homeBtn'><a href='/' class='active'>Home</a></span>
        <span id='dashBtn'><a href='/dashboard'>Dashboard</a></span>
        {{#if logged_in}}
        <span id='logoutBtn'><a href=''>Logout</a></span>
        {{else}}
        <span id='loginBtn'><a href='/login'>Login</a></span>
        {{/if}}
    </div>
    <div id='headerMsg'>
    </div>
</div>
<div id='my-blogs'>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    {{#allBlogs}}
    <div class='main' id='blog#{{blogid}}'>
        <div class='mainRow' onclick='commentPost({{blogid}})'>
            <div class='blogTitle'>{{blogpostTitle}}</div>
            <div class='blogPoster'>Posted by {{user.username}} on {{moment date=blog_create_date format="MM/DD/YYYY"}} at {{moment date=blog_create_date format="HH:mm:ss"}}</div>
        </div>
        <div class='blogPost' id='blog#{{blogid}}'>
            <p id='blog#{{blogid}}'>{{blogpost}}</p>
        </div>
    </div>
    {{/allBlogs}}
</div>

<script src="./js/homepage.js"></script>

